
$green: #1AFF00;
$aqua: #14FFEC;
$link: #0D7373;
$nav-gray: #212121;
$tile-gray: #323232;

h1, h2, h3, h4, h5 {
  font-family: 'Abril Fatface';
}
h1 {
  color: $green;
}

.top-bar {
  background-color: $nav-gray;
  text-align: left;
  // padding: 30px 40px 20px 40px;
  // margin: 0px;
  .top-bar-left {
    background-color: $nav-gray;
    color: $green;
  }
  .menu {
    background-color: $nav-gray;
    a {
      color: $aqua;
      font-weight: bold;
    }
  }
}

body {
  font-family: 'Raleway';
  margin: 2% 10%;
}
a {
  text-decoration: none;
  color: $link;
}
.callout.secondary {
  background-color: $tile-gray;
  a {
    color: $aqua;
  }
}

#outer-wrapper {
  // text-align: center relative;
  background-color: $aqua;
}
