
$green: #1aff00;
$aqua: #14ffec;
$link: #0d7373;
$nav-gray: #212121;
$tile-gray: #323232;


#outer-wrapper {
  background-color: $aqua;
  text-align: center relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Abril Fatface";
}

h1 {
  color: $green;
}

.top-bar {
  width: 100%;
  background-color: $nav-gray;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  .top-bar-left {
    background-color: $nav-gray;
    color: $green;
    a {
      color: $green;
    }
  }
  .menu {
    background-color: $nav-gray;
    a {
      color: $aqua;
      font-weight: bold;
    }
  }
}

body {
  font-family: "Raleway";
  margin: 0;
  min-height: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.searchBar {
  margin: 10px;
  width: auto;
}

.crop {
  height: 200px;
  width: auto;
  overflow: hidden;
  border-radius: 20px;
  img {
    height: auto;
    width: auto;
  }
}

.expandable {
  padding: 5px;
  margin-right: 5px;
  flex: 1 1 1;
}
.expandable.expanded {
    flex: 1 1 90%;
  }

.cards-container {
  flex: 1 1 90%;
  }

.container {
   padding-left: 50px;
   padding-right: 50px;
 }

.table-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-rows: auto;
  @media screen and (max-width: 60em) {
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
}

.table-card {
  display: flex;
  flex-direction: column;
  grid-column-start: auto;
  grid-column-end: span 1;
  margin: 10px;
  text-align: center;
  background-color: $tile-gray;
  padding: 20px;
  border-radius: 20px;
  color: #cd86ff;
  .content {
    flex: 1 1 0;
  }
  a {
    color: #ff2aa9;
  }
  .review {
    border: 2px solid $green;
    padding: 10px;
    margin: 10px;
  }
  .table-card div {
    padding: 0px 10px;
    flex: 0 1 auto;
  }
}

.pagination {
  clear: both;
  position: relative;
  text-align: center;
  li {
    background-color: $green;
    border: 2px solid $nav-gray;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
}


.button {
  position: center;
}

.venue {
  text-align: center;
  img {
    height: auto;
    width: 50em;
  }
}

.no-grid-warning {
  background-color: #ffffff;
  color: #ff0000;
  height: 100vh;
  left: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 10000;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.green6000 { color: #d22042; }
.material-icons.black6000 { color: #24b694; }
